<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.7.401.4" targetFramework="net47" />
  <package id="AWSSDK.S3" version="3.7.412.4" targetFramework="net47" />
  <package id="AWSSDK.SageMaker" version="3.7.421.3" targetFramework="net47" />
  <package id="Costura.Fody" version="3.3.3" targetFramework="net47" />
  <package id="Fody" version="4.0.2" targetFramework="net47" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net47" />
</packages>